{
  "openapi": "3.0.0",
  "info": {
    "title": "Combined FCSM EOS API",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://emeia-eos.fcsm.io"
    }
  ],
  "paths": {
    "/api/v1/analytics/metrics": {
      "get": {
        "description": "Retrieve all metrics",
        "operationId": "get_metrics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for showing metrics (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for showing metrics (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all metrics",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.Metrics"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/platforms/{platformId}": {
      "get": {
        "description": "Retrieve metrics for specific platform",
        "operationId": "get_platform_metrics",
        "parameters": [
          {
            "name": "platformId",
            "in": "path",
            "required": true,
            "description": "ID of platform",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for one platform",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.PlatformMetrics"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/summary": {
      "get": {
        "description": "Retrieve usage summary",
        "operationId": "get_summary",
        "responses": {
          "200": {
            "description": "Summary response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.Summary"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/summaryUsage": {
      "get": {
        "description": "Retrieve usage summary for all platforms",
        "operationId": "get_summary_usage",
        "responses": {
          "200": {
            "description": "Summarized usage of resources",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.SummaryUsage"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/platformsUsage": {
      "get": {
        "description": "Retrieve percentage platforms usage",
        "operationId": "get_platforms_usage",
        "responses": {
          "200": {
            "description": "Response may be empty object if all platforms are disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.PlatformsUsage"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/operatingSystems": {
      "get": {
        "description": "Retrieve information about operating systems in use",
        "operationId": "get_operating_systems",
        "responses": {
          "200": {
            "description": "Response may be empty list if all platforms are disabled",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/analytics.OperatingSystems"
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/auth/externalProviders": {
      "get": {
        "description": "List of configured external identity providers",
        "operationId": "getExternalProviders",
        "responses": {
          "200": {
            "description": "List of providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.SamlConfigs"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.UnexpectedError"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": [
        {
          "in": "header",
          "name": "role",
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "post": {
        "description": "Adds new external identity provider for saml",
        "operationId": "addExternalProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth.SamlConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Saml IdP provider added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.SamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.UnexpectedError"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/externalProviders/{providerId}": {
      "delete": {
        "description": "Delete external identity provider",
        "operationId": "deleteExternalProvider",
        "responses": {
          "200": {
            "description": "Provider deleted successfully"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.UnexpectedError"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "get": {
        "description": "Configured external identity provider by id",
        "operationId": "getExternalProvider",
        "responses": {
          "200": {
            "description": "Providers configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.SamlConfig"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Provider with this id does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.UnexpectedError"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": [
        {
          "in": "header",
          "name": "role",
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        },
        {
          "in": "path",
          "name": "providerId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/auth/login": {
      "post": {
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth.Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.Token"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Incorrect credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.InvalidCredentials"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auth.UnexpectedError"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/user/checkCredentials": {
      "post": {
        "operationId": "checkCredentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The user with those credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.User"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidCredentials"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/forgotPassword": {
      "post": {
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.ForgottenPassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password reset request successfully received"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Cannot send the password reset email or database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/me": {
      "get": {
        "operationId": "getMe",
        "parameters": [
          {
            "in": "header",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.User"
                }
              }
            }
          },
          "401": {
            "description": "User is not logged in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/removeSubscription": {
      "delete": {
        "operationId": "removeSubscription",
        "parameters": [
          {
            "in": "header",
            "name": "role",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          },
          {
            "in": "header",
            "name": "external",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.SubscriptionID"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully deleted subscription"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown subscription id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/resetPassword": {
      "post": {
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.PasswordReset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password successfully reset"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidCredentials"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/users": {
      "get": {
        "operationId": "getUsers",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All users in the database",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Users"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      },
      "parameters": [
        {
          "in": "header",
          "name": "role",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "post": {
        "operationId": "createUser",
        "parameters": [
          {
            "in": "header",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The newly created user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.User"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Cannot send the password reset email or database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/users/{user_id}": {
      "delete": {
        "operationId": "deleteUser",
        "parameters": [
          {
            "in": "header",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "role",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the user"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required and admins cannot delete themselves",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      },
      "get": {
        "operationId": "getUser",
        "parameters": [
          {
            "in": "header",
            "name": "role",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user with the given user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.User"
                }
              }
            }
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "user_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "updateUser",
        "parameters": [
          {
            "in": "header",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.UpdateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the user"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Users can only update their own data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/users/{user_id}/setAccessRights": {
      "parameters": [
        {
          "in": "path",
          "name": "user_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "email",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "role",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "put": {
        "operationId": "setAccessRights",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.AccessRights"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated access rights"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required and admins cannot change their own permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/users/{user_id}/setPassword": {
      "parameters": [
        {
          "in": "path",
          "name": "user_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "role",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "put": {
        "operationId": "setPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.PasswordUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the password"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Cannot change another user's password and the old password must be correct",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/users/{user_id}/setRole": {
      "parameters": [
        {
          "in": "path",
          "name": "user_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "email",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "header",
          "name": "role",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "put": {
        "operationId": "setRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.RoleUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated role"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Admin rights are required and admins cannot change their own role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Unknown user id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/validateToken": {
      "post": {
        "operationId": "validateToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user.Token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Valid token"
          },
          "400": {
            "description": "Input data is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or unknown token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.InvalidCredentials"
                }
              }
            }
          },
          "404": {
            "description": "No user for this token found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.NotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/configuration/platformAccess": {
      "get": {
        "summary": "Get platform access configutation",
        "description": "Get platform access configutation",
        "operationId": "get_all_platform_access",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.PlatformConfigs"
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ]
      },
      "put": {
        "summary": "Set platform access configutation",
        "description": "Set platform access configutation",
        "operationId": "edit_platform_access",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/config.Configuration"
              }
            }
          },
          "description": "Configuration to set",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Empty configuration given"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/platformAccess/{platform_id}": {
      "get": {
        "summary": "Get platform access value",
        "description": "Get platform access value",
        "operationId": "get_platform_access",
        "parameters": [
          {
            "name": "platform_id",
            "in": "path",
            "required": true,
            "description": "Platform id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean",
                  "description": "True or False if platform is enabled or not"
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/mailProviders": {
      "get": {
        "summary": "Get mail providers",
        "description": "Get all mail providers",
        "operationId": "get_mail_providers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "description": "List of mail providers",
                  "items": {
                    "$ref": "#/components/schemas/config.MailProvider"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ]
      },
      "post": {
        "summary": "Add provider data",
        "description": "Add new provider data",
        "operationId": "add_mail_provider",
        "requestBody": {
          "$ref": "#/components/requestBodies/config.MailProvider"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.MailProvider"
                }
              }
            }
          },
          "400": {
            "description": "Wrong provider service or provider name already exists"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/mailProviders/{provider_id}": {
      "get": {
        "summary": "Get provider data",
        "description": "Get provider data",
        "operationId": "get_mail_provider",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.provider_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.MailProvider"
                }
              }
            }
          },
          "404": {
            "description": "Provider id does not exist"
          }
        },
        "tags": [
          "config"
        ]
      },
      "put": {
        "summary": "Edit provider",
        "description": "Edit provider",
        "operationId": "edit_mail_provider",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.provider_id"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/config.MailProvider"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.MailProvider"
                }
              }
            }
          },
          "404": {
            "description": "Provider id does not exist"
          }
        },
        "tags": [
          "config"
        ]
      },
      "delete": {
        "summary": "Delete provider",
        "description": "Delete provider",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.provider_id"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Provider is currently set as default and cannot be deleted"
          },
          "404": {
            "description": "Provider id does not exist"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/mailProviders/default": {
      "get": {
        "summary": "Get default mail provider",
        "description": "Get data for default mail provider",
        "operationId": "set_default_mail_provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.MailProvider"
                }
              }
            }
          },
          "404": {
            "description": "No default mail provider set"
          },
          "500": {
            "description": "More than one default provider set"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/mailProviders/default/{provider_id}": {
      "put": {
        "summary": "Set default mail provider",
        "description": "Set default mail provider",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.provider_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.MailProvider"
                }
              }
            }
          },
          "404": {
            "description": "Provider id does not exist"
          }
        },
        "tags": [
          "config"
        ]
      },
      "delete": {
        "summary": "Unset default mail provider",
        "description": "Unset mail provider as default",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.provider_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Provider id does not exist"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/managementToolTypes": {
      "get": {
        "summary": "Get management tool types",
        "description": "Get management tool types",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.ManagementToolTypes"
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/managementTools": {
      "get": {
        "summary": "Get all mangement tools",
        "description": "Get all management tools",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.ManagementTools"
                }
              }
            }
          }
        },
        "tags": [
          "config"
        ]
      },
      "post": {
        "summary": "Create new management tool",
        "description": "Create new management tool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/config.CreateManagementTool"
              }
            }
          },
          "description": "arguments",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.ManagementTool"
                }
              }
            }
          },
          "400": {
            "description": "Invalid management tool type or url format or error saving data in database"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/managementTools/{tool_id}": {
      "get": {
        "summary": "Get specified management tool",
        "description": "Get specified management tool",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.tool_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.ManagementTool"
                }
              }
            }
          },
          "400": {
            "description": "Wrong tool id format"
          },
          "404": {
            "description": "Unknown tool id"
          }
        },
        "tags": [
          "config"
        ]
      },
      "put": {
        "summary": "Update specified management tool",
        "description": "Update specified management tool",
        "parameters": [
          {
            "$ref": "#/components/parameters/config.tool_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/config.UpdateManagementTool"
              }
            }
          },
          "description": "arguments",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/config.ManagementTool"
                }
              }
            }
          },
          "400": {
            "description": "Wrong tool id or url format"
          },
          "404": {
            "description": "Unknown tool id"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/configuration/logo": {
      "post": {
        "summary": "Send logo image to be stored",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "description": "Uploaded logo image",
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "logo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid request headers, unsupported image extension, error saving image."
          },
          "411": {
            "description": "Missing request header Content-Length"
          },
          "413": {
            "description": "Image is to large. Maximum image size is 0.5MB."
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "500": {
            "description": "Error while saving logo image"
          }
        },
        "tags": [
          "config"
        ]
      },
      "get": {
        "summary": "Get logo image",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "There is no image stored yet"
          }
        },
        "tags": [
          "config"
        ]
      }
    },
    "/api/v1/subscription/subscriptions": {
      "get": {
        "summary": "Get subscriptions",
        "description": "Retrieve list of all subscriptions",
        "operationId": "getSubscriptions",
        "parameters": [
          {
            "name": "role",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptions",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Return only subscriptions to which given user has an access to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platformId",
            "in": "query",
            "description": "Filter subscription by given platform id (openStack , aws, k5, ...).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Subscriptions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/subscr.BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      },
      "post": {
        "summary": "Create subscription",
        "description": "Create new subscription. Provided credentials are validated against target platform",
        "operationId": "createSubscription",
        "parameters": [
          {
            "name": "userid",
            "in": "header",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscr.CreateSubscription"
              }
            }
          },
          "description": "Details of the subscription that will be created",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or credentials validation failure"
          },
          "500": {
            "description": "Subscription validation failed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Error"
                }
              }
            }
          }
        },
        "tags": [
          "subscr"
        ]
      }
    },
    "/api/v1/subscription/subscriptions/{subscription_id}": {
      "get": {
        "summary": "Get subscription",
        "description": "Get single subscription for specified subscription_id",
        "operationId": "getSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscr.subscription_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Subscription"
                }
              }
            }
          },
          "404": {
            "description": "No subscription for given id"
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      },
      "delete": {
        "summary": "Delete subscription",
        "description": "Delete subscription for given id",
        "operationId": "deleteSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscr.subscription_id"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "No subscription for given id"
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      },
      "put": {
        "summary": "Modify subscription",
        "description": "Modify subscription for given id",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscr.subscription_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscr.ModifySubscription"
              }
            }
          },
          "description": "Details of the subscription that will be created",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Subscription"
                }
              }
            }
          },
          "204": {
            "description": "No parameter to modify given"
          },
          "400": {
            "description": "Parameter that cannot be modified given or invalid credentials"
          },
          "404": {
            "description": "No subscription for given id"
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      }
    },
    "/api/v1/subscription/subscriptions/{subscription_id}/tokens": {
      "get": {
        "summary": "Get token",
        "description": "Get token for a subscription",
        "operationId": "get_token",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscr.subscription_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/subscr.Token"
                }
              }
            }
          },
          "400": {
            "description": "Platform not supported"
          },
          "500": {
            "description": "Error during fetching token from platform"
          }
        },
        "tags": [
          "subscr"
        ]
      }
    },
    "/api/v1/subscription/validateVm": {
      "put": {
        "description": "Validate a VM against a policy.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscr.VirtualMachineValidationParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation completed. Response will contain `message` property describing the reason for the failure, `isCompliant` will be set to `false` in this case. Response will be `{isCompliant: true}` in case of successfull validation.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "required": [
                    "isCompliant"
                  ],
                  "properties": {
                    "isCompliant": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      }
    },
    "/api/v1/subscription/validateWorkshift": {
      "put": {
        "description": "Validate a workshift against a policy.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscr.WorkshiftValidationParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation completed. Response will contain `message` property describing the reason for the failure, `isCompliant` will be set to `false` in this case. Response will be `{isCompliant: true}` in case of successful validation.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "required": [
                    "isCompliant"
                  ],
                  "properties": {
                    "isCompliant": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/subscr.InternalError"
          }
        },
        "tags": [
          "subscr"
        ]
      }
    },
    "/api/v1/management/registerVm": {
      "post": {
        "description": "Register Vm in management tool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mgmt.RegisterVm"
              }
            }
          },
          "description": "Vm and management tool information",
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "504": {
            "description": "Timeout error communicating with management tool"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/unregisterVm": {
      "delete": {
        "summary": "Unregister Vm from management tool",
        "description": "Unregister Vm from management tool",
        "requestBody": {
          "$ref": "#/components/requestBodies/mgmt.ManageVm"
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Given vm was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          },
          "504": {
            "description": "Timeout error communicating with management tool"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/isManaged": {
      "get": {
        "summary": "Check if a vm is managed",
        "deprecated": true,
        "requestBody": {
          "$ref": "#/components/requestBodies/mgmt.ManageVm"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean",
                  "description": "True if VM is managed, false otherwise"
                }
              }
            }
          },
          "404": {
            "description": "No management information for given VM exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/managedVms": {
      "get": {
        "summary": "Return list of managed VM ids",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vmId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/mgmt.ManagedVms"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/testConnectivity": {
      "post": {
        "summary": "Check connection with Vm",
        "description": "Check connection with Vm",
        "requestBody": {
          "$ref": "#/components/requestBodies/mgmt.ManageVm"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean",
                  "description": "True or False if Vm is available"
                }
              }
            }
          },
          "404": {
            "description": "Given vm was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/installApp": {
      "post": {
        "summary": "Install application",
        "description": "Install application",
        "x-deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mgmt.Application"
              }
            }
          },
          "description": "Application and VM information",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean",
                  "description": "True or False if application was installed correctly"
                }
              }
            }
          },
          "404": {
            "description": "Given vm was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          },
          "504": {
            "description": "Timeout error communicating with management tool"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/uninstallApp": {
      "delete": {
        "summary": "Uninstall application",
        "description": "Uninstall application",
        "x-deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mgmt.Application"
              }
            }
          },
          "description": "Application and Vm information",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean",
                  "description": "True or False if application was uninstalled correctly"
                }
              }
            }
          },
          "404": {
            "description": "Given vm was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          },
          "504": {
            "description": "Timeout error communicating with management tool"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/details": {
      "get": {
        "summary": "Get vm details",
        "description": "Get vm details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mgmt.VmDetailsParams"
              }
            }
          },
          "description": "Operating system and Vm information",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.VmDetails"
                }
              }
            }
          },
          "404": {
            "description": "Given vm was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.HttpNotFoundError"
                }
              }
            }
          },
          "504": {
            "description": "Timeout error communicating with management tool"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/getBootstrapScript": {
      "get": {
        "summary": "Get bootstrap script",
        "description": "Get bootstrap script",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mgmt.BootstrapScript"
              }
            }
          },
          "description": "Platform and Vm information",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.BootstrapScriptReturn"
                }
              }
            }
          },
          "400": {
            "description": "Error while processing input information"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/unregisterSubscriptionVms": {
      "delete": {
        "summary": "Unregister vms from subscription",
        "description": "Unregister vms from subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Subscription id",
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Error while processing input information"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/replaceApps": {
      "post": {
        "summary": "Upload apps metadata",
        "description": "Upload apps metadata",
        "parameters": [
          {
            "name": "X-Tool-Token",
            "in": "header",
            "required": true,
            "description": "A token that gives permission to upload apps for specific tool.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apps": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/mgmt.ReplaceApp"
                    }
                  }
                }
              }
            }
          },
          "description": "Apps metadata",
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/apps": {
      "get": {
        "summary": "List apps",
        "parameters": [
          {
            "name": "tool_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/mgmt.App"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/apps/{app_id}": {
      "get": {
        "summary": "Get app by id",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.App"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/tools/{tool_id}/apps/{app_name}": {
      "get": {
        "summary": "Get app by name",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "app_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.App"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/appInstances": {
      "get": {
        "summary": "List apps instances",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "subscription id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "toolId",
            "in": "query",
            "required": false,
            "description": "Optional filter",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "vmId",
            "in": "query",
            "required": false,
            "description": "Optional filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional filter.",
            "schema": {
              "type": "string",
              "enum": [
                "INITIAL",
                "INSTALLING",
                "INSTALL_SUCCEEDED",
                "INSTALL_FAILED",
                "UNINSTALLING",
                "UNINSTALL_SUCCEEDED",
                "UNINSTALL_FAILED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/mgmt.AppInstance"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      },
      "post": {
        "summary": "Create an app instance",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "subscription id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vmId",
                  "toolId",
                  "appId"
                ],
                "properties": {
                  "vmId": {
                    "type": "string"
                  },
                  "appId": {
                    "$ref": "#/components/schemas/mgmt.App/properties/id"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.AppInstance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/appInstances/{app_instance_id}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "query",
          "required": true,
          "description": "subscription id",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "app_instance_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "role",
          "in": "header",
          "schema": {
            "type": "string",
            "enum": [
              "admin",
              "user"
            ]
          }
        }
      ],
      "get": {
        "summary": "Get an app instance",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.AppInstance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      },
      "delete": {
        "summary": "Delete an app instance",
        "description": "It is allowed to delete app instances that are in one of the following states: INITIAL, INSTALL_FAILED, UNINSTALL_SUCCEEDED, UNINSTALL_FAILED.\n",
        "parameters": [
          {
            "name": "forceDelete",
            "in": "query",
            "description": "Forcely delete app_instance not checking the state. This option is only available for administrators\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "App instance not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/appInstances/{app_instance_id}/uninstall": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "query",
          "required": true,
          "description": "subscription id",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "app_instance_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.AppInstance"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/tools/{tool_id}/tokens": {
      "post": {
        "summary": "Generate a new token for the given tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/mgmt.ToolToken/properties/name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/mgmt.ToolToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/management/tools/{tool_id}/tokens/{token_value}": {
      "delete": {
        "summary": "Delete the token",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_value",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "mgmt"
        ]
      }
    },
    "/api/v1/tag/tags": {
      "get": {
        "description": "Returns a list of all tags with values",
        "operationId": "GetTags",
        "responses": {
          "200": {
            "description": "An array of Tag objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Tags"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "tag"
        ]
      },
      "post": {
        "description": "Creates tag with given name and values",
        "operationId": "CreateTag",
        "parameters": [
          {
            "in": "header",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          },
          {
            "in": "header",
            "name": "email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tag.Tag"
              }
            }
          },
          "description": "The details of tag that will be created",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The newly created tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Tag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid json payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access rights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "tag"
        ]
      }
    },
    "/api/v1/tag/tags/{tagName}": {
      "delete": {
        "description": "Delete tag with given name",
        "operationId": "DeleteTag",
        "parameters": [
          {
            "in": "header",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          },
          {
            "in": "header",
            "name": "email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted tag"
          },
          "400": {
            "description": "Invalid role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access rights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tagId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.TagNotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "tag"
        ]
      },
      "get": {
        "operationId": "GetTag",
        "responses": {
          "200": {
            "description": "The tag data for given name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Tag"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tagName",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.TagNotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.ServiceUnavailable"
                }
              }
            }
          }
        },
        "summary": "Returns the specified tag",
        "tags": [
          "tag"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "tagName",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Update some fields of a tag",
        "operationId": "UpdateTag",
        "parameters": [
          {
            "in": "header",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "user"
              ]
            }
          },
          {
            "in": "header",
            "name": "email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tag.TagUpdate"
              }
            }
          },
          "description": "The details of tag that will be updated",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated tag"
          },
          "400": {
            "description": "Invalid role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.InvalidInput"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access rights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Unknown tagId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.TagNotFound"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.UnexpectedError"
                }
              }
            }
          },
          "503": {
            "description": "Database is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tag.ServiceUnavailable"
                }
              }
            }
          }
        },
        "tags": [
          "tag"
        ]
      }
    },
    "/api/v1/notification/email": {
      "post": {
        "summary": "Send email",
        "description": "Send email",
        "operationId": "send_email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/notif.Message"
              }
            }
          },
          "description": "Message data",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "unsupported mail provider"
          }
        },
        "tags": [
          "notif"
        ]
      }
    },
    "/api/v1/webhook/contentTypes": {
      "get": {
        "operationId": "getContentTypes",
        "responses": {
          "200": {
            "description": "An array of Content Types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhook.ContentTypes"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occured",
            "content": {
              "application/json": {
                "schema": {
[...]
