{
  "swagger" : "2.0",
  "info" : {
    "title" : "Eos swagger definition",
    "version" : "1.0.4"
  },
  "host" : "emeia.fcsm.io",
  "schemes" : [ "https" ],
  "securityDefinitions" : {
    "jwt_token" : {
      "flow" : "password",
      "tokenUrl" : "https://emeia.fcsm.io/api/v1/auth/login",
      "type" : "oauth2",
      "scopes" : { }
    }
  },
  "paths" : {
    "/api/v1/analytics/metrics" : {
      "get" : {
        "description" : "Retrieve all metrics",
        "operationId" : "get_metrics",
        "responses" : {
          "200" : {
            "description" : "A list of all metrics",
            "schema" : {
              "type" : "object",
              "properties" : {
                "totalStorageUsage" : {
                  "type" : "array",
                  "description" : "Total disk usage",
                  "items" : {
                    "type" : "object",
                    "description" : "Metric with date and value fields",
                    "properties" : {
                      "date" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "value" : {
                        "type" : "integer",
                        "description" : "Metric value"
                      }
                    }
                  }
                },
                "totalComputeInstances" : {
                  "type" : "array",
                  "description" : "Total number of VMs",
                  "items" : {
                    "type" : "object",
                    "description" : "Metric with date and value fields",
                    "properties" : {
                      "date" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "value" : {
                        "type" : "integer",
                        "description" : "Metric value"
                      }
                    }
                  }
                },
                "totalMemoryUsage" : {
                  "type" : "array",
                  "description" : "Total memory usage",
                  "items" : {
                    "type" : "object",
                    "description" : "Metric with date and value fields",
                    "properties" : {
                      "date" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "value" : {
                        "type" : "integer",
                        "description" : "Metric value"
                      }
                    }
                  }
                },
                "totalEstimatedSpend" : {
                  "type" : "array",
                  "description" : "Total estimated spend",
                  "items" : {
                    "type" : "object",
                    "description" : "Metric with date and value fields",
                    "properties" : {
                      "date" : {
                        "type" : "string",
                        "format" : "date-time"
                      },
                      "value" : {
                        "type" : "integer",
                        "description" : "Metric value"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/platforms/{platformId}" : {
      "get" : {
        "description" : "Retrieve metrics for specific platform",
        "operationId" : "get_platform_metrics",
        "parameters" : [ {
          "name" : "platformId",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "description" : "ID of platform"
        } ],
        "responses" : {
          "200" : {
            "description" : "Metrics for one platform",
            "schema" : {
              "type" : "object",
              "properties" : {
                "vms" : {
                  "type" : "integer",
                  "description" : "Total number of VMs"
                },
                "memory" : {
                  "type" : "integer",
                  "description" : "Current memory usage"
                },
                "storage" : {
                  "type" : "integer",
                  "description" : "Current storage usage"
                },
                "vcpus" : {
                  "type" : "integer",
                  "description" : "Amount of virtual CPU"
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/summary" : {
      "get" : {
        "description" : "Retrieve usage summary",
        "operationId" : "get_summary",
        "responses" : {
          "200" : {
            "description" : "Print summary",
            "schema" : {
              "type" : "object",
              "properties" : {
                "subscriptions" : {
                  "type" : "integer",
                  "description" : "Total number of subscriptions"
                },
                "platforms" : {
                  "type" : "integer",
                  "description" : "Number of platforms with valid subscriptions"
                },
                "cost" : {
                  "type" : "integer",
                  "description" : "Current total cost"
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/summaryUsage" : {
      "get" : {
        "description" : "Retrieve usage summary for all platforms",
        "operationId" : "get_summary_usage",
        "responses" : {
          "200" : {
            "description" : "Print summary",
            "schema" : {
              "type" : "object",
              "properties" : {
                "memoryUsage" : {
                  "type" : "integer",
                  "description" : "Total memory usage"
                },
                "networkTraffic" : {
                  "type" : "integer",
                  "description" : "Total network traffic"
                },
                "storageUsage" : {
                  "type" : "integer",
                  "description" : "Total storage usage"
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/platformsUsage" : {
      "get" : {
        "description" : "Retrieve percentage platforms usage",
        "operationId" : "get_platforms_usage",
        "responses" : {
          "200" : {
            "description" : "Print summary",
            "schema" : {
              "type" : "object",
              "properties" : {
                "openstack" : {
                  "type" : "integer",
                  "description" : "Percentage platform usage"
                },
                "aws" : {
                  "type" : "integer",
                  "description" : "Percentage platform usage"
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/operatingSystems" : {
      "get" : {
        "description" : "Retrieve information about operating systems in use",
        "operationId" : "get_operating_systems",
        "responses" : {
          "200" : {
            "description" : "Print summary",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Operating system"
                  },
                  "value" : {
                    "type" : "integer",
                    "description" : "amount of servers"
                  }
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/analytics/issues" : {
      "get" : {
        "description" : "Retrieve information about problems",
        "operationId" : "get_issues",
        "responses" : {
          "200" : {
            "description" : "Print summary",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "issue" : {
                    "type" : "string",
                    "description" : "Issue description"
                  },
                  "value" : {
                    "type" : "integer",
                    "description" : "amount of servers"
                  },
                  "severity" : {
                    "type" : "integer",
                    "description" : "Severity level",
                    "minimum" : 1,
                    "maximum" : 2
                  }
                }
              }
            }
          }
        },
        "tags" : [ "analytics" ]
      }
    },
    "/api/v1/application/blueprints" : {
      "get" : {
        "description" : "Retrieve all blueprints",
        "operationId" : "get_blueprints",
        "responses" : {
          "200" : {
            "description" : "A list of all blueprints",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "required" : [ "name", "description", "version", "components" ],
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "Unique identifier"
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Blueprint name"
                  },
                  "description" : {
                    "type" : "string",
                    "description" : "Description of the blueprint."
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "Version of the blueprint"
                  },
                  "modified" : {
                    "type" : "string",
                    "description" : "Last modification date",
                    "readOnly" : true
                  },
                  "components" : {
                    "type" : "array",
                    "description" : "Blueprints/templates of each component",
                    "minItems" : 1,
                    "uniqueItems" : true,
                    "items" : {
                      "type" : "object",
                      "required" : [ "name", "module", "port", "installation_time", "size", "version" ],
                      "properties" : {
                        "name" : {
                          "type" : "string",
                          "description" : "Template Name"
                        },
                        "module" : {
                          "type" : "string",
                          "description" : "Salt module to execute."
                        },
                        "port" : {
                          "type" : "integer",
                          "description" : "Component is exposed via this port",
                          "minimum" : 1,
                          "maximum" : 65535
                        },
                        "installation_time" : {
                          "type" : "integer",
                          "description" : "Estimated installation time of a component [seconds]",
                          "minimum" : 1
                        },
                        "size" : {
                          "type" : "integer",
                          "description" : "Number of instances to deploy. Each on separate virtual machine."
                        },
                        "version" : {
                          "type" : "string",
                          "description" : "Component version to deploy. e.g. 2.1-34"
                        },
                        "instance_aws" : {
                          "type" : "object",
                          "required" : [ "image", "size", "key", "volume_size" ],
                          "properties" : {
                            "image" : {
                              "type" : "string",
                              "description" : "Name of image with Operating System"
                            },
                            "size" : {
                              "type" : "string",
                              "description" : "Virtual Machine size. Direct mapping to flavors",
                              "enum" : [ "small", "medium", "large" ]
                            },
                            "key" : {
                              "type" : "string",
                              "description" : "SSH key name"
                            },
                            "volume_size" : {
                              "type" : "integer",
                              "description" : "Virtual disk size [GB]"
                            },
                            "networks" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Virtual network for virtual machine"
                              }
                            },
                            "security_groups" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Firewall rule for network traffic passthroug"
                              }
                            }
                          }
                        },
                        "instance_openstack" : {
                          "type" : "object",
                          "required" : [ "image", "size", "key", "volume_size" ],
                          "properties" : {
                            "image" : {
                              "type" : "string",
                              "description" : "Name of image with Operating System"
                            },
                            "size" : {
                              "type" : "string",
                              "description" : "Virtual Machine size. Direct mapping to flavors",
                              "enum" : [ "small", "medium", "large" ]
                            },
                            "key" : {
                              "type" : "string",
                              "description" : "SSH key name"
                            },
                            "volume_size" : {
                              "type" : "integer",
                              "description" : "Virtual disk size [GB]"
                            },
                            "networks" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Virtual network for virtual machine"
                              }
                            },
                            "security_groups" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Firewall rule for network traffic passthroug"
                              }
                            }
                          }
                        },
                        "instance_k5" : {
                          "type" : "object",
                          "required" : [ "image", "size", "key", "volume_size" ],
                          "properties" : {
                            "image" : {
                              "type" : "string",
                              "description" : "Name of image with Operating System"
                            },
                            "size" : {
                              "type" : "string",
                              "description" : "Virtual Machine size. Direct mapping to flavors",
                              "enum" : [ "small", "medium", "large" ]
                            },
                            "key" : {
                              "type" : "string",
                              "description" : "SSH key name"
                            },
                            "volume_size" : {
                              "type" : "integer",
                              "description" : "Virtual disk size [GB]"
                            },
                            "networks" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Virtual network for virtual machine"
                              }
                            },
                            "security_groups" : {
                              "type" : "array",
                              "uniqueItems" : true,
                              "items" : {
                                "type" : "string",
                                "description" : "Firewall rule for network traffic passthroug"
                              }
                            }
                          }
                        },
                        "depends_on" : {
                          "type" : "string",
                          "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "application" ]
      },
      "post" : {
        "description" : "Create blueprint",
        "operationId" : "create_blueprint",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "blueprint",
          "in" : "body",
          "description" : "Blueprint to create",
          "schema" : {
            "type" : "object",
            "required" : [ "name", "description", "version", "components" ],
            "properties" : {
              "id" : {
                "type" : "string",
                "description" : "Unique identifier"
              },
              "name" : {
                "type" : "string",
                "description" : "Blueprint name"
              },
              "description" : {
                "type" : "string",
                "description" : "Description of the blueprint."
              },
              "version" : {
                "type" : "string",
                "description" : "Version of the blueprint"
              },
              "modified" : {
                "type" : "string",
                "description" : "Last modification date",
                "readOnly" : true
              },
              "components" : {
                "type" : "array",
                "description" : "Blueprints/templates of each component",
                "minItems" : 1,
                "uniqueItems" : true,
                "items" : {
                  "type" : "object",
                  "required" : [ "name", "module", "port", "installation_time", "size", "version" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Template Name"
                    },
                    "module" : {
                      "type" : "string",
                      "description" : "Salt module to execute."
                    },
                    "port" : {
                      "type" : "integer",
                      "description" : "Component is exposed via this port",
                      "minimum" : 1,
                      "maximum" : 65535
                    },
                    "installation_time" : {
                      "type" : "integer",
                      "description" : "Estimated installation time of a component [seconds]",
                      "minimum" : 1
                    },
                    "size" : {
                      "type" : "integer",
                      "description" : "Number of instances to deploy. Each on separate virtual machine."
                    },
                    "version" : {
                      "type" : "string",
                      "description" : "Component version to deploy. e.g. 2.1-34"
                    },
                    "instance_aws" : {
                      "type" : "object",
                      "required" : [ "image", "size", "key", "volume_size" ],
                      "properties" : {
                        "image" : {
                          "type" : "string",
                          "description" : "Name of image with Operating System"
                        },
                        "size" : {
                          "type" : "string",
                          "description" : "Virtual Machine size. Direct mapping to flavors",
                          "enum" : [ "small", "medium", "large" ]
                        },
                        "key" : {
                          "type" : "string",
                          "description" : "SSH key name"
                        },
                        "volume_size" : {
                          "type" : "integer",
                          "description" : "Virtual disk size [GB]"
                        },
                        "networks" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Virtual network for virtual machine"
                          }
                        },
                        "security_groups" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Firewall rule for network traffic passthroug"
                          }
                        }
                      }
                    },
                    "instance_openstack" : {
                      "type" : "object",
                      "required" : [ "image", "size", "key", "volume_size" ],
                      "properties" : {
                        "image" : {
                          "type" : "string",
                          "description" : "Name of image with Operating System"
                        },
                        "size" : {
                          "type" : "string",
                          "description" : "Virtual Machine size. Direct mapping to flavors",
                          "enum" : [ "small", "medium", "large" ]
                        },
                        "key" : {
                          "type" : "string",
                          "description" : "SSH key name"
                        },
                        "volume_size" : {
                          "type" : "integer",
                          "description" : "Virtual disk size [GB]"
                        },
                        "networks" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Virtual network for virtual machine"
                          }
                        },
                        "security_groups" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Firewall rule for network traffic passthroug"
                          }
                        }
                      }
                    },
                    "instance_k5" : {
                      "type" : "object",
                      "required" : [ "image", "size", "key", "volume_size" ],
                      "properties" : {
                        "image" : {
                          "type" : "string",
                          "description" : "Name of image with Operating System"
                        },
                        "size" : {
                          "type" : "string",
                          "description" : "Virtual Machine size. Direct mapping to flavors",
                          "enum" : [ "small", "medium", "large" ]
                        },
                        "key" : {
                          "type" : "string",
                          "description" : "SSH key name"
                        },
                        "volume_size" : {
                          "type" : "integer",
                          "description" : "Virtual disk size [GB]"
                        },
                        "networks" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Virtual network for virtual machine"
                          }
                        },
                        "security_groups" : {
                          "type" : "array",
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "string",
                            "description" : "Firewall rule for network traffic passthroug"
                          }
                        }
                      }
                    },
                    "depends_on" : {
                      "type" : "string",
                      "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                    }
                  }
                }
              }
            }
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created blueprint",
            "schema" : {
              "type" : "object",
              "required" : [ "name", "description", "version", "components" ],
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Unique identifier"
                },
                "name" : {
                  "type" : "string",
                  "description" : "Blueprint name"
                },
                "description" : {
                  "type" : "string",
                  "description" : "Description of the blueprint."
                },
                "version" : {
                  "type" : "string",
                  "description" : "Version of the blueprint"
                },
                "modified" : {
                  "type" : "string",
                  "description" : "Last modification date",
                  "readOnly" : true
                },
                "components" : {
                  "type" : "array",
                  "description" : "Blueprints/templates of each component",
                  "minItems" : 1,
                  "uniqueItems" : true,
                  "items" : {
                    "type" : "object",
                    "required" : [ "name", "module", "port", "installation_time", "size", "version" ],
                    "properties" : {
                      "name" : {
                        "type" : "string",
                        "description" : "Template Name"
                      },
                      "module" : {
                        "type" : "string",
                        "description" : "Salt module to execute."
                      },
                      "port" : {
                        "type" : "integer",
                        "description" : "Component is exposed via this port",
                        "minimum" : 1,
                        "maximum" : 65535
                      },
                      "installation_time" : {
                        "type" : "integer",
                        "description" : "Estimated installation time of a component [seconds]",
                        "minimum" : 1
                      },
                      "size" : {
                        "type" : "integer",
                        "description" : "Number of instances to deploy. Each on separate virtual machine."
                      },
                      "version" : {
                        "type" : "string",
                        "description" : "Component version to deploy. e.g. 2.1-34"
                      },
                      "instance_aws" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "instance_openstack" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "instance_k5" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "depends_on" : {
                        "type" : "string",
                        "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request parameters/data",
            "schema" : {
              "type" : "object",
              "properties" : {
                "message" : {
                  "type" : "string"
                }
              }
            }
          },
          "default" : {
            "description" : "Poor Implementation",
            "schema" : {
              "type" : "object",
              "required" : [ "message" ],
              "properties" : {
                "message" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "tags" : [ "application" ]
      }
    },
    "/api/v1/application/blueprints/{id}" : {
      "get" : {
        "description" : "Retrieve blueprint",
        "operationId" : "get_blueprint",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "x-example" : "58f40fdee76083000e0ad40f",
          "description" : "Blueprint identifier"
        } ],
        "responses" : {
          "200" : {
            "description" : "Blueprint",
            "schema" : {
              "type" : "object",
              "required" : [ "name", "description", "version", "components" ],
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Unique identifier"
                },
                "name" : {
                  "type" : "string",
                  "description" : "Blueprint name"
                },
                "description" : {
                  "type" : "string",
                  "description" : "Description of the blueprint."
                },
                "version" : {
                  "type" : "string",
                  "description" : "Version of the blueprint"
                },
                "modified" : {
                  "type" : "string",
                  "description" : "Last modification date",
                  "readOnly" : true
                },
                "components" : {
                  "type" : "array",
                  "description" : "Blueprints/templates of each component",
                  "minItems" : 1,
                  "uniqueItems" : true,
                  "items" : {
                    "type" : "object",
                    "required" : [ "name", "module", "port", "installation_time", "size", "version" ],
                    "properties" : {
                      "name" : {
                        "type" : "string",
                        "description" : "Template Name"
                      },
                      "module" : {
                        "type" : "string",
                        "description" : "Salt module to execute."
                      },
                      "port" : {
                        "type" : "integer",
                        "description" : "Component is exposed via this port",
                        "minimum" : 1,
                        "maximum" : 65535
                      },
                      "installation_time" : {
                        "type" : "integer",
                        "description" : "Estimated installation time of a component [seconds]",
                        "minimum" : 1
                      },
                      "size" : {
                        "type" : "integer",
                        "description" : "Number of instances to deploy. Each on separate virtual machine."
                      },
                      "version" : {
                        "type" : "string",
                        "description" : "Component version to deploy. e.g. 2.1-34"
                      },
                      "instance_aws" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "instance_openstack" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "instance_k5" : {
                        "type" : "object",
                        "required" : [ "image", "size", "key", "volume_size" ],
                        "properties" : {
                          "image" : {
                            "type" : "string",
                            "description" : "Name of image with Operating System"
                          },
                          "size" : {
                            "type" : "string",
                            "description" : "Virtual Machine size. Direct mapping to flavors",
                            "enum" : [ "small", "medium", "large" ]
                          },
                          "key" : {
                            "type" : "string",
                            "description" : "SSH key name"
                          },
                          "volume_size" : {
                            "type" : "integer",
                            "description" : "Virtual disk size [GB]"
                          },
                          "networks" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Virtual network for virtual machine"
                            }
                          },
                          "security_groups" : {
                            "type" : "array",
                            "uniqueItems" : true,
                            "items" : {
                              "type" : "string",
                              "description" : "Firewall rule for network traffic passthroug"
                            }
                          }
                        }
                      },
                      "depends_on" : {
                        "type" : "string",
                        "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Blueprint not found"
          }
        },
        "tags" : [ "application" ]
      },
      "delete" : {
        "description" : "Delete blueprint",
        "operationId" : "delete_blueprint",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "x-example" : "58f40fdee76083000e0ad40f",
          "description" : "Blueprint identifier"
        } ],
        "responses" : {
          "204" : {
            "description" : "Blueprint"
          },
          "404" : {
            "description" : "Blueprint not found"
          }
        },
        "tags" : [ "application" ]
      }
    },
    "/api/v1/application/applications" : {
      "get" : {
        "description" : "Retrieve applications",
        "operationId" : "get_applications",
        "parameters" : [ {
          "name" : "subscriptionId",
          "in" : "query",
          "type" : "string",
          "description" : "Return applications only created using given subscription"
        }, {
          "name" : "vmId",
          "in" : "query",
          "type" : "string",
          "description" : "Return applications which are atteched to this vm"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of all applications",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "required" : [ "name" ],
                "properties" : {
                  "id" : {
                    "type" : "string",
                    "description" : "Application identifier"
                  },
                  "state" : {
                    "type" : "string",
                    "description" : "Component deployment state",
                    "enum" : [ "queued", "building", "deploying", "active", "error", "deleting" ]
                  },
                  "details" : {
                    "type" : "string",
                    "description" : "Used when state is error. Error details"
                  },
                  "created" : {
                    "type" : "string",
                    "description" : "Application creation date",
                    "readOnly" : true
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Name"
                  },
                  "subscriptionId" : {
                    "type" : "string",
                    "x-nullable" : true,
                    "description" : "Subscription id used to created and manage application"
                  },
                  "source" : {
                    "type" : "string",
                    "description" : "Type of application. Default standalone, addon when deployed on existing vm",
                    "enum" : [ "standalone", "addon" ]
                  },
                  "platformId" : {
                    "type" : "string",
                    "x-nullable" : true,
                    "description" : "Platform ID. Used to detect to which service connect to. OpenStack/AWS/K5"
                  },
                  "blueprintId" : {
                    "type" : "string",
                    "description" : "Id of the Blueprint used to create application"
                  },
                  "blueprintName" : {
                    "type" : "string",
                    "x-nullable" : true,
                    "description" : "Name of the Blueprint used to create application"
                  },
                  "components" : {
                    "type" : "array",
                    "description" : "Components of this application. e.g. Apache, MongoDB",
                    "minItems" : 0,
                    "uniqueItems" : true,
                    "items" : {
                      "type" : "object",
                      "properties" : {
                        "guid" : {
                          "type" : "string",
                          "description" : "Component identifier"
                        },
                        "name" : {
                          "type" : "string",
                          "description" : "Name"
                        },
                        "state" : {
                          "type" : "string",
                          "description" : "Component deployment state",
                          "enum" : [ "queued", "deploying", "active", "error" ]
                        },
                        "details" : {
                          "type" : "string",
                          "description" : "Used when state is error. Error details"
                        },
                        "version" : {
                          "type" : "string",
                          "description" : "Component version to deploy. e.g. 2.1-34"
                        },
                        "size" : {
                          "type" : "integer",
                          "description" : "Number of instances to deploy. Each on separate virtual machine."
                        },
                        "module" : {
                          "type" : "string",
                          "description" : "Salt module to execute."
                        },
                        "vms" : {
                          "type" : "array",
                          "description" : "Virtual machines on which this component is deployed",
                          "minItems" : 0,
                          "uniqueItems" : true,
                          "items" : {
                            "type" : "object",
                            "required" : [ "uid", "name" ],
                            "properties" : {
                              "uid" : {
                                "type" : "string",
                                "description" : "Virtual machine identifier"
                              },
                              "name" : {
                                "type" : "string",
                                "description" : "Virtual machine name [EOS specific]"
                              },
                              "details" : {
                                "type" : "string",
                                "description" : "Used when state is error. Error details"
                              },
                              "state" : {
                                "type" : "string",
                                "description" : "Virtual machine state.",
                                "enum" : [ "created", "deploying", "active", "error" ]
                              }
                            }
                          }
                        },
                        "depends_on" : {
                          "type" : "string",
                          "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags" : [ "application" ]
      },
      "post" : {
        "description" : "Create Application. When 'vms' list is given application's components will be deployed on selected vms.  Currenlty only single component Blueprint is supported for vms parameter. Addon application can be created only on standalone virtual machine (not created by application).",
        "operationId" : "create_application",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "application",
          "in" : "body",
          "description" : "Application to create",
          "schema" : {
            "type" : "object",
            "required" : [ "name", "subscriptionId", "blueprintId" ],
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "Application name"
              },
              "subscriptionId" : {
                "type" : "string",
                "description" : "Subscription identifier"
              },
              "blueprintId" : {
                "type" : "string",
                "description" : "Blueprint identifier to use during creating application"
              },
              "projectId" : {
                "type" : "string",
                "description" : "Project identifier",
                "x-nullable" : true
              },
              "vmId" : {
                "type" : "string",
                "description" : "VM identifier",
                "x-nullable" : true
              },
              "tags" : {
                "type" : "array",
                "description" : "Tags (name and value) assigned to a VM",
                "items" : {
                  "type" : "object",
                  "required" : [ "name", "value" ],
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Name (key) of the tag"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "Value of the tag"
                    }
                  }
                },
                "x-nullable" : true
              },
              "availabilityZone" : {
                "type" : "string",
                "x-nullable" : true
              }
            }
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created application. Application will not contain 'components' list. It will be populated during application deployment which is done in background.",
            "schema" : {
              "type" : "object",
              "required" : [ "name" ],
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Application identifier"
                },
                "state" : {
                  "type" : "string",
                  "description" : "Component deployment state",
                  "enum" : [ "queued", "building", "deploying", "active", "error", "deleting" ]
                },
                "details" : {
                  "type" : "string",
                  "description" : "Used when state is error. Error details"
                },
                "created" : {
                  "type" : "string",
                  "description" : "Application creation date",
                  "readOnly" : true
                },
                "name" : {
                  "type" : "string",
                  "description" : "Name"
                },
                "subscriptionId" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Subscription id used to created and manage application"
                },
                "source" : {
                  "type" : "string",
                  "description" : "Type of application. Default standalone, addon when deployed on existing vm",
                  "enum" : [ "standalone", "addon" ]
                },
                "platformId" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Platform ID. Used to detect to which service connect to. OpenStack/AWS/K5"
                },
                "blueprintId" : {
                  "type" : "string",
                  "description" : "Id of the Blueprint used to create application"
                },
                "blueprintName" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Name of the Blueprint used to create application"
                },
                "components" : {
                  "type" : "array",
                  "description" : "Components of this application. e.g. Apache, MongoDB",
                  "minItems" : 0,
                  "uniqueItems" : true,
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "guid" : {
                        "type" : "string",
                        "description" : "Component identifier"
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name"
                      },
                      "state" : {
                        "type" : "string",
                        "description" : "Component deployment state",
                        "enum" : [ "queued", "deploying", "active", "error" ]
                      },
                      "details" : {
                        "type" : "string",
                        "description" : "Used when state is error. Error details"
                      },
                      "version" : {
                        "type" : "string",
                        "description" : "Component version to deploy. e.g. 2.1-34"
                      },
                      "size" : {
                        "type" : "integer",
                        "description" : "Number of instances to deploy. Each on separate virtual machine."
                      },
                      "module" : {
                        "type" : "string",
                        "description" : "Salt module to execute."
                      },
                      "vms" : {
                        "type" : "array",
                        "description" : "Virtual machines on which this component is deployed",
                        "minItems" : 0,
                        "uniqueItems" : true,
                        "items" : {
                          "type" : "object",
                          "required" : [ "uid", "name" ],
                          "properties" : {
                            "uid" : {
                              "type" : "string",
                              "description" : "Virtual machine identifier"
                            },
                            "name" : {
                              "type" : "string",
                              "description" : "Virtual machine name [EOS specific]"
                            },
                            "details" : {
                              "type" : "string",
                              "description" : "Used when state is error. Error details"
                            },
                            "state" : {
                              "type" : "string",
                              "description" : "Virtual machine state.",
                              "enum" : [ "created", "deploying", "active", "error" ]
                            }
                          }
                        }
                      },
                      "depends_on" : {
                        "type" : "string",
                        "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong parameters for application creation"
          }
        },
        "tags" : [ "application" ]
      }
    },
    "/api/v1/application/applications/{id}" : {
      "get" : {
        "description" : "Retrieve application",
        "operationId" : "get_application",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "x-example" : "58f40fdee76083000e0ad40f",
          "description" : "Application identifier"
        } ],
        "responses" : {
          "200" : {
            "description" : "Application",
            "schema" : {
              "type" : "object",
              "required" : [ "name" ],
              "properties" : {
                "id" : {
                  "type" : "string",
                  "description" : "Application identifier"
                },
                "state" : {
                  "type" : "string",
                  "description" : "Component deployment state",
                  "enum" : [ "queued", "building", "deploying", "active", "error", "deleting" ]
                },
                "details" : {
                  "type" : "string",
                  "description" : "Used when state is error. Error details"
                },
                "created" : {
                  "type" : "string",
                  "description" : "Application creation date",
                  "readOnly" : true
                },
                "name" : {
                  "type" : "string",
                  "description" : "Name"
                },
                "subscriptionId" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Subscription id used to created and manage application"
                },
                "source" : {
                  "type" : "string",
                  "description" : "Type of application. Default standalone, addon when deployed on existing vm",
                  "enum" : [ "standalone", "addon" ]
                },
                "platformId" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Platform ID. Used to detect to which service connect to. OpenStack/AWS/K5"
                },
                "blueprintId" : {
                  "type" : "string",
                  "description" : "Id of the Blueprint used to create application"
                },
                "blueprintName" : {
                  "type" : "string",
                  "x-nullable" : true,
                  "description" : "Name of the Blueprint used to create application"
                },
                "components" : {
                  "type" : "array",
                  "description" : "Components of this application. e.g. Apache, MongoDB",
                  "minItems" : 0,
                  "uniqueItems" : true,
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "guid" : {
                        "type" : "string",
                        "description" : "Component identifier"
                      },
                      "name" : {
                        "type" : "string",
                        "description" : "Name"
                      },
                      "state" : {
                        "type" : "string",
                        "description" : "Component deployment state",
                        "enum" : [ "queued", "deploying", "active", "error" ]
                      },
                      "details" : {
                        "type" : "string",
                        "description" : "Used when state is error. Error details"
                      },
                      "version" : {
                        "type" : "string",
                        "description" : "Component version to deploy. e.g. 2.1-34"
                      },
                      "size" : {
                        "type" : "integer",
                        "description" : "Number of instances to deploy. Each on separate virtual machine."
                      },
                      "module" : {
                        "type" : "string",
                        "description" : "Salt module to execute."
                      },
                      "vms" : {
                        "type" : "array",
                        "description" : "Virtual machines on which this component is deployed",
                        "minItems" : 0,
                        "uniqueItems" : true,
                        "items" : {
                          "type" : "object",
                          "required" : [ "uid", "name" ],
                          "properties" : {
                            "uid" : {
                              "type" : "string",
                              "description" : "Virtual machine identifier"
                            },
                            "name" : {
                              "type" : "string",
                              "description" : "Virtual machine name [EOS specific]"
                            },
                            "details" : {
                              "type" : "string",
                              "description" : "Used when state is error. Error details"
                            },
                            "state" : {
                              "type" : "string",
                              "description" : "Virtual machine state.",
                              "enum" : [ "created", "deploying", "active", "error" ]
                            }
                          }
                        }
                      },
                      "depends_on" : {
                        "type" : "string",
                        "description" : "In Multi-Component application this fields points to another component on which 'this' components depends on."
                      }
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Blueprint not found"
          }
        },
        "tags" : [ "application" ]
      },
      "delete" : {
        "description" : "Delete application",
        "operationId" : "delete_application",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "x-example" : "58f40fdee76083000e0ad40f",
          "description" : "Application identifier"
        }, {
          "name" : "vms",
          "in" : "query",
          "type" : "boolean",
          "required" : false,
          "x-example" : "vms=true",
          "description" : "Flag to delete (True) or just unmanage virtual machines (False)"
        } ],
        "responses" : {
          "204" : {
            "description" : "Application"
          },
          "400" : {
            "description" : "Application building is not yet finished"
          },
          "404" : {
            "description" : "Application not found"
          }
        },
        "tags" : [ "application" ]
      }
    },
    "/api/v1/application/vms/{id}" : {
      "delete" : {
        "description" : "Delete vm from application's components. It will only remove VM from database. It will not remove virtual machines from platforms.",
        "operationId" : "delete_vm_from_apps",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "type" : "string",
          "required" : true,
          "description" : "Virtual Machine unique identifier"
        } ],
        "responses" : {
          "204" : {
            "description" : "Removed"
          },
          "default" : {
            "description" : "Poor Implementation",
            "schema" : {
              "type" : "object",
              "required" : [ "message" ],
              "properties" : {
                "message" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "tags" : [ "application" ]
      }
    },
    "/api/v1/auth/login" : {
      "delete" : {
        "responses" : {
          "200" : {
            "description" : "Token deleted successfully"
          }
        },
        "tags" : [ "auth" ],
        "operationId" : "delete_auth_login"
      },
      "post" : {
        "parameters" : [ {
          "in" : "body",
          "name" : "credentials",
          "required" : true,
          "schema" : {
            "properties" : {
              "password" : {
                "type" : "string"
              },
              "username" : {
                "type" : "string"
              }
            },
            "required" : [ "username", "password" ],
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Token created successfully",
            "schema" : {
              "type" : "string"
            }
          },
          "403" : {
            "description" : "Incorrect credentials"
          }
        },
        "tags" : [ "auth" ],
        "operationId" : "post_auth_login"
      }
    },
    "/api/v1/configuration/platformAccess" : {
      "get" : {
        "summary" : "Get platform access configutation",
        "description" : "Get platform access configutation",
        "operationId" : "get_all_platform_access",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "description" : "List of configurations for platforms",
              "items" : {
                "type" : "object",
                "properties" : {
                  "platformId" : {
                    "type" : "string",
                    "description" : "platform id"
                  },
                  "value" : {
                    "type" : "boolean",
                    "description" : "Specifies if platform is enabled"
                  }
                }
              }
            }
          }
        },
        "tags" : [ "configuration" ]
      },
      "put" : {
        "summary" : "Set platform access configutation",
        "description" : "Set platform access configutation",
        "operationId" : "edit_platform_access",
        "parameters" : [ {
          "name" : "configuration",
          "in" : "body",
          "required" : true,
          "description" : "Configuration to set",
          "schema" : {
            "type" : "object",
            "description" : "Configuration to set",
            "properties" : {
              "configuration" : {
                "type" : "array",
                "description" : "List of configurations for platforms",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "platformId" : {
                      "type" : "string",
                      "description" : "platform id"
                    },
                    "value" : {
                      "type" : "boolean",
                      "description" : "Specifies if platform is enabled"
                    }
                  }
                }
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Empty configuration given"
          }
        },
        "tags" : [ "configuration" ]
      }
    },
    "/api/v1/configuration/platformAccess/{platform_id}" : {
      "get" : {
        "summary" : "Get platform access value",
        "description" : "Get platform access value",
        "operationId" : "get_platform_access",
        "parameters" : [ {
          "name" : "platform_id",
          "in" : "path",
          "required" : true,
          "description" : "Platform id",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "boolean",
              "description" : "True or False if platform is enabled or not"
            }
          }
        },
        "tags" : [ "configuration" ]
      }
    },
    "/api/v1/configuration/mailProviders" : {
      "get" : {
        "summary" : "Get mail providers",
        "description" : "Get all mail providers",
        "operationId" : "get_mail_providers",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "description" : "List of mail providers",
              "items" : {
                "type" : "object",
                "description" : "Default mail provider",
                "required" : [ "name", "service" ],
                "properties" : {
                  "name" : {
                    "type" : "string",
                    "description" : "Name for a provider instance"
                  },
                  "service" : {
                    "type" : "string",
                    "description" : "\"aws_ses\" or \"k5_smtp\""
                  },
                  "contractId" : {
                    "type" : "string",
                    "description" : "Contract id credentaials for K5 SMTP service"
                  },
                  "username" : {
                    "type" : "string",
                    "description" : "Username credentaials for K5 SMTP service"
                  },
                  "password" : {
                    "type" : "string",
                    "description" : "Password credentaials for K5 SMTP service"
                  },
                  "accessKey" : {
                    "type" : "string",
                    "description" : "Access key credentaials for AWS SES service"
                  },
                  "secretKey" : {
                    "type" : "string",
                    "description" : "Secret access key credentaials for AWS SES service"
                  },
                  "regionId" : {
                    "type" : "string",
                    "description" : "Region for AWS SES service (optional parameter)"
                  }
                }
              }
            }
          }
        },
        "tags" : [ "configuration" ]
      },
      "post" : {
        "summary" : "Add provider data",
        "description" : "Add new provider data",
        "operationId" : "add_mail_provider",
        "parameters" : [ {
          "name" : "provider_data",
          "in" : "body",
          "required" : true,
          "description" : "Provider data",
          "schema" : {
            "type" : "object",
            "description" : "Default mail provider",
            "required" : [ "name", "service" ],
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "Name for a provider instance"
              },
              "service" : {
                "type" : "string",
                "description" : "\"aws_ses\" or \"k5_smtp\""
              },
              "contractId" : {
                "type" : "string",
                "description" : "Contract id credentaials for K5 SMTP service"
              },
              "username" : {
                "type" : "string",
                "description" : "Username credentaials for K5 SMTP service"
              },
              "password" : {
                "type" : "string",
                "description" : "Password credentaials for K5 SMTP service"
              },
              "accessKey" : {
                "type" : "string",
                "description" : "Access key credentaials for AWS SES service"
              },
              "secretKey" : {
                "type" : "string",
                "description" : "Secret access key credentaials for AWS SES service"
              },
              "regionId" : {
                "type" : "string",
                "description" : "Region for AWS SES service (optional parameter)"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "description" : "Default mail provider",
              "required" : [ "name", "service" ],
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name for a provider instance"
                },
                "service" : {
                  "type" : "string",
                  "description" : "\"aws_ses\" or \"k5_smtp\""
                },
                "contractId" : {
                  "type" : "string",
                  "description" : "Contract id credentaials for K5 SMTP service"
                },
                "username" : {
                  "type" : "string",
                  "description" : "Username credentaials for K5 SMTP service"
                },
                "password" : {
                  "type" : "string",
                  "description" : "Password credentaials for K5 SMTP service"
                },
                "accessKey" : {
                  "type" : "string",
                  "description" : "Access key credentaials for AWS SES service"
                },
                "secretKey" : {
                  "type" : "string",
                  "description" : "Secret access key credentaials for AWS SES service"
                },
                "regionId" : {
                  "type" : "string",
                  "description" : "Region for AWS SES service (optional parameter)"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong provider service or provider name already exists"
          }
        },
        "tags" : [ "configuration" ]
      }
    },
    "/api/v1/configuration/mailProviders/{provider_id}" : {
      "get" : {
        "summary" : "Get provider data",
        "description" : "Get provider data",
        "operationId" : "get_mail_provider",
        "parameters" : [ {
          "name" : "provider_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "description" : "Provider id"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "description" : "Default mail provider",
              "required" : [ "name", "service" ],
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name for a provider instance"
                },
                "service" : {
                  "type" : "string",
                  "description" : "\"aws_ses\" or \"k5_smtp\""
                },
                "contractId" : {
                  "type" : "string",
                  "description" : "Contract id credentaials for K5 SMTP service"
                },
                "username" : {
                  "type" : "string",
                  "description" : "Username credentaials for K5 SMTP service"
                },
                "password" : {
                  "type" : "string",
                  "description" : "Password credentaials for K5 SMTP service"
                },
                "accessKey" : {
                  "type" : "string",
                  "description" : "Access key credentaials for AWS SES service"
                },
                "secretKey" : {
                  "type" : "string",
                  "description" : "Secret access key credentaials for AWS SES service"
                },
                "regionId" : {
                  "type" : "string",
                  "description" : "Region for AWS SES service (optional parameter)"
                }
              }
            }
          },
          "404" : {
            "description" : "Provider id does not exist"
          }
        },
        "tags" : [ "configuration" ]
      },
      "put" : {
        "summary" : "Edit provider",
        "description" : "Edit provider",
        "operationId" : "edit_mail_provider",
        "parameters" : [ {
          "name" : "provider_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "description" : "Provider id"
        }, {
          "name" : "provider_data",
          "in" : "body",
          "required" : true,
          "description" : "Provider data",
          "schema" : {
            "type" : "object",
            "description" : "Default mail provider",
            "required" : [ "name", "service" ],
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "Name for a provider instance"
              },
              "service" : {
                "type" : "string",
                "description" : "\"aws_ses\" or \"k5_smtp\""
              },
              "contractId" : {
                "type" : "string",
                "description" : "Contract id credentaials for K5 SMTP service"
              },
              "username" : {
                "type" : "string",
                "description" : "Username credentaials for K5 SMTP service"
              },
              "password" : {
                "type" : "string",
                "description" : "Password credentaials for K5 SMTP service"
              },
              "accessKey" : {
                "type" : "string",
                "description" : "Access key credentaials for AWS SES service"
              },
              "secretKey" : {
                "type" : "string",
                "description" : "Secret access key credentaials for AWS SES service"
              },
              "regionId" : {
                "type" : "string",
                "description" : "Region for AWS SES service (optional parameter)"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "description" : "Default mail provider",
              "required" : [ "name", "service" ],
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name for a provider instance"
                },
                "service" : {
                  "type" : "string",
                  "description" : "\"aws_ses\" or \"k5_smtp\""
                },
                "contractId" : {
                  "type" : "string",
                  "description" : "Contract id credentaials for K5 SMTP service"
                },
                "username" : {
                  "type" : "string",
                  "description" : "Username credentaials for K5 SMTP service"
                },
                "password" : {
                  "type" : "string",
                  "description" : "Password credentaials for K5 SMTP service"
                },
                "accessKey" : {
                  "type" : "string",
                  "description" : "Access key credentaials for AWS SES service"
                },
                "secretKey" : {
                  "type" : "string",
                  "description" : "Secret access key credentaials for AWS SES service"
                },
                "regionId" : {
                  "type" : "string",
                  "description" : "Region for AWS SES service (optional parameter)"
                }
              }
            }
          },
          "404" : {
            "description" : "Provider id does not exist"
          }
        },
        "tags" : [ "configuration" ]
      },
      "delete" : {
        "summary" : "Delete provider",
        "description" : "Delete provider",
        "parameters" : [ {
          "name" : "provider_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "description" : "Provider id"
        } ],
        "responses" : {
          "204" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Provider is currently set as default and cannot be deleted"
          },
          "404" : {
            "description" : "Provider id does not exist"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "delete_configuration_mailProvider"
      }
    },
    "/api/v1/configuration/mailProviders/default" : {
      "get" : {
        "summary" : "Get default mail provider",
        "description" : "Get data for default mail provider",
        "operationId" : "set_default_mail_provider",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "description" : "Default mail provider",
              "required" : [ "name", "service" ],
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name for a provider instance"
                },
                "service" : {
                  "type" : "string",
                  "description" : "\"aws_ses\" or \"k5_smtp\""
                },
                "contractId" : {
                  "type" : "string",
                  "description" : "Contract id credentaials for K5 SMTP service"
                },
                "username" : {
                  "type" : "string",
                  "description" : "Username credentaials for K5 SMTP service"
                },
                "password" : {
                  "type" : "string",
                  "description" : "Password credentaials for K5 SMTP service"
                },
                "accessKey" : {
                  "type" : "string",
                  "description" : "Access key credentaials for AWS SES service"
                },
                "secretKey" : {
                  "type" : "string",
                  "description" : "Secret access key credentaials for AWS SES service"
                },
                "regionId" : {
                  "type" : "string",
                  "description" : "Region for AWS SES service (optional parameter)"
                }
              }
            }
          },
          "404" : {
            "description" : "No default mail provider set"
          },
          "500" : {
            "description" : "More than one default provider set"
          }
        },
        "tags" : [ "configuration" ]
      }
    },
    "/api/v1/configuration/mailProviders/default/{provider_id}" : {
      "put" : {
        "summary" : "Set default mail provider",
        "description" : "Set default mail provider",
        "parameters" : [ {
          "name" : "provider_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "description" : "Provider id"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "description" : "Default mail provider",
              "required" : [ "name", "service" ],
              "properties" : {
                "name" : {
                  "type" : "string",
                  "description" : "Name for a provider instance"
                },
                "service" : {
                  "type" : "string",
                  "description" : "\"aws_ses\" or \"k5_smtp\""
                },
                "contractId" : {
                  "type" : "string",
                  "description" : "Contract id credentaials for K5 SMTP service"
                },
                "username" : {
                  "type" : "string",
                  "description" : "Username credentaials for K5 SMTP service"
                },
                "password" : {
                  "type" : "string",
                  "description" : "Password credentaials for K5 SMTP service"
                },
                "accessKey" : {
                  "type" : "string",
                  "description" : "Access key credentaials for AWS SES service"
                },
                "secretKey" : {
                  "type" : "string",
                  "description" : "Secret access key credentaials for AWS SES service"
                },
                "regionId" : {
                  "type" : "string",
                  "description" : "Region for AWS SES service (optional parameter)"
                }
              }
            }
          },
          "404" : {
            "description" : "Provider id does not exist"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "put_configuration_mailProviders_default"
      },
      "delete" : {
        "summary" : "Unset default mail provider",
        "description" : "Unset mail provider as default",
        "parameters" : [ {
          "name" : "provider_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "description" : "Provider id"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "Provider id does not exist"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "delete_configuration_mailProviders_default"
      }
    },
    "/api/v1/configuration/managementToolTypes" : {
      "get" : {
        "summary" : "Get management tool types",
        "description" : "Get management tool types",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "type" : {
                    "type" : "string",
                    "x-deprecated" : true
                  },
                  "value" : {
                    "type" : "string",
                    "x-deprecated" : true
                  }
                }
              }
            }
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "get_configuration_managementToolTypes"
      }
    },
    "/api/v1/configuration/managementTools" : {
      "get" : {
        "summary" : "Get all mangement tools",
        "description" : "Get all management tools",
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "object",
                "properties" : {
                  "id" : {
                    "type" : "string"
                  },
                  "type" : {
                    "type" : "string",
                    "x-deprecated" : true
                  },
                  "toolTypeId" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "endpointUrl" : {
                    "type" : "string"
                  },
                  "username" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "get_configuration_managementTools"
      },
      "post" : {
        "summary" : "Create new management tool",
        "description" : "Create new management tool",
        "parameters" : [ {
          "name" : "data",
          "in" : "body",
          "description" : "arguments",
          "required" : true,
          "schema" : {
            "type" : "object",
            "required" : [ "name", "endpointUrl" ],
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              },
              "type" : {
                "type" : "string",
                "x-deprecated" : true
              },
              "toolTypeId" : {
                "type" : "string"
              },
              "endpointUrl" : {
                "type" : "string"
              },
              "username" : {
                "type" : "string"
              },
              "password" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "type" : {
                  "type" : "string",
                  "x-deprecated" : true
                },
                "toolTypeId" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "description" : {
                  "type" : "string"
                },
                "endpointUrl" : {
                  "type" : "string"
                },
                "username" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid management tool type or url format or error saving data in database"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "post_configuration_managementTools"
      }
    },
    "/api/v1/configuration/managementTools/{tool_id}" : {
      "get" : {
        "summary" : "Get specified management tool",
        "description" : "Get specified management tool",
        "parameters" : [ {
          "name" : "tool_id",
          "type" : "string",
          "in" : "path",
          "required" : true,
          "description" : "Management tool id"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "type" : {
                  "type" : "string",
                  "x-deprecated" : true
                },
                "toolTypeId" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "description" : {
                  "type" : "string"
                },
                "endpointUrl" : {
                  "type" : "string"
                },
                "username" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong tool id format"
          },
          "404" : {
            "description" : "Unknown tool id"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "get_configuration_managementTool"
      },
      "put" : {
        "summary" : "Update specified management tool",
        "description" : "Update specified management tool",
        "parameters" : [ {
          "name" : "tool_id",
          "type" : "string",
          "in" : "path",
          "required" : true,
          "description" : "Management tool id"
        }, {
          "name" : "data",
          "in" : "body",
          "description" : "arguments",
          "required" : true,
          "schema" : {
            "type" : "object",
            "required" : [ "name", "endpointUrl" ],
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "description" : {
                "type" : "string"
              },
              "endpointUrl" : {
                "type" : "string"
              },
              "username" : {
                "type" : "string"
              },
              "password" : {
                "type" : "string"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string"
                },
                "type" : {
                  "type" : "string",
                  "x-deprecated" : true
                },
                "toolTypeId" : {
                  "type" : "string"
                },
                "name" : {
                  "type" : "string"
                },
                "description" : {
                  "type" : "string"
                },
                "endpointUrl" : {
                  "type" : "string"
                },
                "username" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Wrong tool id or url format"
          },
          "404" : {
            "description" : "Unknown tool id"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "put_configuration_managementTool"
      }
    },
    "/api/v1/configuration/logo" : {
      "post" : {
        "summary" : "Send logo image to be stored",
        "consumes" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "logo",
          "in" : "formData",
          "description" : "Uploaded logo image",
          "required" : true,
          "type" : "file"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Invalid request headers, unsupported image extension, error saving image."
          },
          "411" : {
            "description" : "Missing request header Content-Length"
          },
          "413" : {
            "description" : "Image is to large. Maximum image size is 0.5MB."
          },
          "415" : {
            "description" : "Unsupported Media Type"
          },
          "500" : {
            "description" : "Error while saving logo image"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "post_configuration_logo"
      },
      "get" : {
        "summary" : "Get logo image",
        "produces" : [ "image/png", "image/jpg", "image/jpeg", "image/svg+xml" ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "404" : {
            "description" : "There is no image stored yet"
          }
        },
        "tags" : [ "configuration" ],
        "operationId" : "get_configuration_logo"
      }
    },
    "/api/v1/openstack/storage/volumes" : {
      "get" : {
        "summary" : "Get volumes",
        "description" : "Get volumes",
        "parameters" : [ {
          "name" : "subscriptionId",
          "required" : true,
          "in" : "query",
          "type" : "string",
          "description" : "subscription id"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
[...]
